@import 'public';
@import 'iconfont';
@import 'carts';
// @import 'reset';
#menu{
    width: 100%;
    display: none;
    z-index: 9999;
    position: absolute;
    top: 70px;
    left: 0px;
    background: white;
    .head-menu{
        width: 1200px;
        height: 440px;
        margin: 0 auto;
        .leftMenu{
            width: 700px;
            height: 440px;
            float: left;
            .one{
                width: 180px;
                height: 440px;
                margin-left: 100px;
                float: left;
                li{
                    font-size: 14px;
                    line-height: 30px;
                    padding: 15px 0px;
                }
            }
            .two{
                float: left;
                width: 420px;
                height: 440px;
                a{
                   display: inline-block;
                   width: 30%;
                   font-size: 14px; 
                   line-height: 30px;
                   padding: 15px 0px;
                   color: #111;
                }
            }
        }
        .rightMenu{
            width: 500px;
            height: 440px;
            float: left;
            .img{
                margin-left: 160px;
                border-left: 2px solid #ddd
                ;
                margin-top: 40px;
                padding-left:60px ;
                width: 240px;
                height: 300px;
                p{
                    width: 100px;
                    height: 36px;
                    border: 1px solid #0c5ca8;
                    border-radius: 36px;
                    line-height: 36px;
                    text-align: center;
                    margin: 0 auto;
                    margin-top: 10px;
                    a{
                        color:#0c5ca8;
                        font-size: 14px;
                    }
                }
            }
        }
    }

}